*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
}

nav, aside, footer, hgroup, figure, article, section{
  display: block;
}

#redes {
  height: 100px;
  position: relative;
  float: left;
}

.iconosredes{
  position: fixed;
  margin: 20px;
}

#iconoredes2{
  top:0;
  right: 20px;
}

#redes img {
  width: 64px;
  height: 64px;
}

#redes li img:hover {
  background-color: grey;
}

/*aca defino el ancho total de la pagina*/
body{
  width: 1270px;
}

/*aca defino el tamaño y el borde redondo de la imagen retrato*/
#retrato_principal {
  height: 350px;      
  width: 350px;
  border-radius: 100%;
}

/*aca centro la introduccion */
#introduccion {
  margin: 10px  auto;
  width: 350px;
  position: relative ;
  text-align: center;
}

.separador {
  width: 700px;
  height: 1px;
  margin:20px auto;
  background: black;
}

#aboutme{  
  margin: 20px auto;
  position: relative;
  width: 400px;
  text-align: justify;
}

#skills{  
  margin: 20px auto;
  position: relative;
  text-align: center;
  width: 80px;

}

.iconoskills img{
  width: 64px;
  height: 64px;
}

#skills div {
  margin: 20px auto;
  width: 80px;
}

.iconoskills{
  display: inline-block;
  margin: 5px 10px;
  text-align: center;

}

.iconoIntPersonales{
  width: 74px;
  margin: 20px 10px;
  height: 74px;
}

#interesesPersonales{  
  margin: 20px auto;
  position: relative;
  text-align: center;
  width: 200px;
}
footer {
  text-align: center;
  height: 40px;
}