*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Roboto', sans-serif;

}

nav, aside, footer, hgroup, figure, article, section{
  display: block;
}

#redes {
  height: 100px;
  position: relative;
}

.iconosredes{
  position: fixed;
  margin: 20px;
}

#iconoredes2{
  top:0;
  right: 20px;
}

#redes img {
  width: 64px;
  height: 64px;
}

#redes li img:hover {
  background-color: grey;
}

/*aca defino el ancho total de la pagina*/
body{
  width: 1370px;
}

/*aca defino el tamaño y el borde redondo de la imagen retrato*/
#retrato_principal {
  height: 350px;      
  width: 350px;
  border-radius: 100%;
}

/*aca centro la introduccion */
#introduccion {
  margin: auto;
  width: 350px;
  position: relative ;
  text-align: center;
}

.separador {
  width: 700px;
  height: 1px;
  margin:20px auto;
  background: black;
}

section#aboutme{  
  margin: 20px auto;
  position: relative;
  width: 400px;
}

section#skills{  
  margin: 20px auto;
  position: relative;
  width: 400px;
  height: 125px;
}

section#skill ul{
  width: 312;
  height: 100px;
}

section#skills ul li {
  margin:10px;
  width: 84px;
  float: left;
  text-align: center;
  height: 100px;
}

#skills img {
  float:left;
  height:64px;
  padding: 10px;
  position: relative;
  width: 64px;
}

section#Proyectos{  
  margin: 60px auto;
  position: relative;
  width: 400px;
  height: 400px;
}